.tittle{
        justify-content: space-between;
        padding: 15px 40px;
}

.nav-bar{
        border: none;
        border-radius: 30px;
}

nav > label{
        display: block;
}

#click:checked ~ ul{
        left: 0%;
}

#click:checked ~ #bar > i:before{
        content: "\f00d";
}

nav > ul{
        position: fixed;
        top: 90px;
        text-align: center;
        flex-direction: column;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 100vh;
        margin-top: 10px;
        background-color: black;
        transition-duration: 0.5s;
        transition-delay: ease;
}


#nav-color{
        background: none;
        margin-top: 30px;
        /* color: orangered; */
}

nav > ul > li > a:hover, #nav-color > a{
        color: orangered;
}

#hero-area > h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.2rem;
        font-weight: 800px;
        margin-bottom: 1.2rem;
        padding-top: 25px;
}

#hero-area > #des{
        font-size: 1rem;
        width: 274px;
        text-align: justify;
        color: grey;
        margin-bottom: 2rem;
}

#hero-btm > button{
        font-size: 1.1rem;
        font-weight: 600px;
        color: white;
        padding: 16px 40px;
        border-radius: 40px;
        margin-right: 05px;
        margin-bottom: 4px;
}


.main-area{
        padding: 0 40px;
        flex-direction: column;
}

#hero-image{
        margin: 0 auto;
}

#hero-image img{
        height: 100%;
        text-align: center;
}

#five{
        top: 10%;
        left: 55%;
        width: 120px;
        height: 50px;
}

#five h2{
        font-size: 1.8rem;
}

#five p{
        color: rgba(255, 255, 255, 0.542);
        font-size: 0.5rem;
}

.three{
        width: 140px;
        height: 72px;
        bottom: 40%;
        left: 10px;
}

#cercle{
        width: 30px;
        height: 30px;
        margin-left: 15px;
}

#treehand{
        text-align: left;
        margin-left: 10px;
}

.three h2{
        font-size: 1.2rem;
        padding-bottom: 3px;
}

.three p{
        color: rgba(255, 255, 255, 0.542);
        font-size: 0.7rem;
}

/* SECTION ONE START HERE */



.habit{
        grid-template-columns: repeat(1, 1fr);
}

.gym-text-part{
        margin-bottom: 30px;
}

.run-extra{
        flex-direction: column;
}

.run-extra > div > button{
      margin: 30px 0px;
}

#run{
        display: flex;
        flex-direction: column;

}
